* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border:none
}
:root{
  font-size: 62.5%;
}
header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: black;
  }

  a:hover{
    color: yellow
  }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display:flex;
  }
 
  header nav ul li {
    margin-right: 7.2em;
    box-sizing: border-box;
  }
 
  header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: large;
  }
  .barra-vertical {
    width: 5px;
    height: 90px;
    background-color: rgb(255, 255, 255);
}

  .minha-conta {
    display: flex;
    flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
}

.minha-conta p1{
    margin-top: 10px;/* adiciona espaçamento entre a imagem e o texto */  
}
 
.meus-pedidos {
    display: flex;
    flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
    align-items: center;
    margin-top: 15px;
    margin-left: 0px;
   
}

.meus-pedidos p1{
    margin-top: 10px; /* adiciona espaçamento entre a imagem e o texto */  
}

header input[type="search"]{
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  text-align: center;
  width: 300px;
  font-size:medium;
  height: 30px;
  Color: white;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    box-sizing: border-box;
}
.card {
    padding: 40px;
    margin: 100px 100px;
    border-radius: 3px;
    height: 900px;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    flex-grow: 1;
}
.image{
  height: 380px;
  width: 480px;
}
main > aside {
  font-size: 0.9rem;
  text-align: center;
  padding: 4rem;
  max-width: 35rem;
  max-height: 43rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  top: 0rem;
}
h1{
font-family: 'Abel';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 70px;
text-align: center;
letter-spacing: 8px;
color: #F9E000;
height: 150px;
}

p{
display: flex;
flex-flow: wrap;
font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FEFBFB;
justify-content:space-around;
letter-spacing: 1px;
padding: 10px;
margin: 10px;
}
main > section {
  padding: 2rem 0rem 6rem 6rem;
}

main > section h1 {
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
}

main > section form {
  gap: .3rem;
  color: #9B9B9B;
  font-size: .9rem;
}
.column {
  display: flex;
  flex-flow: column;
}
h2{
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 30px;
letter-spacing: -0.55px;
color: #F9E000;
border: none;
position: absolute;
top: 250px;
right: 455px; 
}
input{
  width: 487px;
  height: 20x;
  left: 20px;
  background-color: #fff;;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  color: #000000;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
h3{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: -0.3px;
color: #FFFFFF;
}
input[type="submit"]{
  width: 487px;
  height: 20x;
  left: 20px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  background-color: #424242;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
}
input[type="submit"]:hover{
  background-color: white;
  color: black;
}

#social-container{
  margin-bottom: 20px;
}

#social-container i{
  height: 40px;
  width: 40px;
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  cursor: pointer;
}
.fa-facebook-f{
  background-color: #385998;
}