* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a:hover{
  color: yellow
}
header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display:flex;
}

header nav ul li {
  margin-right: 7.2em;
  box-sizing: border-box;
}

header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}
h1{
  margin-top: 0;
}

.destaque {
  width: 15%; /* largura da div */
  margin: auto;
  display: flex;
  justify-content: center; /* alinha os elementos filhos no centro horizontalmente */
  align-items: center; /* alinha os elementos filhos no centro verticalmente */
  border: 1px solid rgb(255, 255, 255);
  font-size:larger;
  border-radius: 5px;
  height: 30px;
}

#banner{
display: flex;
align-items: center;
justify-content: center;
background: url("./imagens/h.png") no-repeat center;
background-size: cover;
width: 100vh;
height: 100vh;
}

.barra-vertical {
  width: 5px;
  height: 90px;
  background-color: rgb(255, 255, 255);
}

.minha-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
}

.minha-conta p{
  margin-top: 10px; 
  font-family: Arial, sans-serif;
}

.meus-pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 0px;
 }


.meus-pedidos p{
  margin-top: 10px; 
}


input[type="search"]{
  background-color: #000000;
  border-color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  width: 300px;
  font-size:medium;
  height: 30px;
  color:#fff;
  font-family: Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 background-color: black;
}

.card {
  padding: 40px;
  margin: 100px 100px;
  border-radius: 3px;
  height: 900px;
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
}
.image{
height: 380px;
width: 480px;
}

main > aside {
font-size: 0.9rem;
text-align: center;
padding: 4rem;
max-width: 35rem;
max-height: 43rem;
margin-top: 4rem;
margin-bottom: 4rem;
position: relative;
right: 0rem;
left: 0rem;
bottom: 0rem;
top: 0rem;
}
h1{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 8px;
  color: #F9E000;
  height: 150px;
  }
  
  .card p{
  display: flex;
  flex-flow: wrap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FEFBFB;
  justify-content:space-around;
  letter-spacing: 1px;
  padding: 10px;
  margin: 10px;
  }

.container {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
 margin: 5px;
}

.header {
  background-color: transparent;
  padding: 20px;

}
h2{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #F9E000;
  border: none;
  align-items: center;
}
.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control select {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #424242;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px; 
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  cursor: pointer;
}

button[type="submit"]:hover{
  background-color: white;
  color: black;
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}