a:hover{
  color: yellow
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display:flex;
}

header nav ul li {
  margin-right: 7.2em;
  box-sizing: border-box;
}

header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}

h1{
  margin-top: 0;
}

.destaque {
  width: 15%; /* largura da div */
  margin: auto;
  display: flex;
  justify-content: center; /* alinha os elementos filhos no centro horizontalmente */
  align-items: center; /* alinha os elementos filhos no centro verticalmente */
  border: 1px solid rgb(255, 255, 255);
  font-size:larger;
  border-radius: 5px;
  height: 30px;
}

#banner{
display: flex;
align-items: center;
justify-content: center;
background: url("./imagens/h.png") no-repeat center;
background-size: cover;
width: 100vh;
height: 100vh;
}

.barra-vertical {
  width: 5px;
  height: 90px;
  background-color: rgb(255, 255, 255);
}

.minha-conta {
  display: flex;
  flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
}

.minha-conta p{
  margin-top: 10px; 
  font-family: Arial, sans-serif;
}

.meus-pedidos {
  display: flex;
  flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
  align-items: center;
  margin-top: 15px;
  margin-left: 0px;
 }


.meus-pedidos p{
  margin-top: 10px; /* adiciona espaçamento entre a imagem e o texto */  
}


input[type="search"]{
  background-color: #000000;
  border-color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  width: 300px;
  font-size:medium;
  height: 30px;
  color:#fff;
  font-family: Arial, sans-serif;
}

.card {
    padding: 40px;
    margin: 100px 100px;
    border-radius: 3px;
    height: 900px;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    flex-grow: 1;
}
.image{
  height: 380px;
  width: 480px;
}

main > aside {
  font-size: 0.9rem;
  text-align: center;
  padding: 4rem;
  max-width: 35rem;
  max-height: 43rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  top: 0rem;
}
h1{
font-family: 'Abel';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 70px;
text-align: center;
letter-spacing: 8px;
color: #F9E000;
height: 150px;
}

.card p{
display: flex;
flex-flow: wrap;
font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FEFBFB;
justify-content:space-around;
letter-spacing: 1px;
padding: 10px;
margin: 10px;
}
main > section {
  padding: 2rem 0rem 6rem 6rem;
}

main > section h1 {
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
}

main > section form {
  gap: .3rem;
  color: #9B9B9B;
  font-size: .9rem;
}
.column {
  display: flex;
  flex-flow: column;
}

h2{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #F9E000;
  border: none;
  position: absolute;
  top: 185px;
  right: 440px; 
}

input{
  width: 487px;
  height: 20x;
  left: 20px;
  background-color: #fff;;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  color: #000000;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

h3{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: -0.3px;
color: #FFFFFF;
}

button[type="submit"]{
  width: 487px;
  height: 45px;
  left: 20px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  background-color: #424242;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
}
button[type="submit"]:hover{
  background-color: white;
  color: black;
}

.social-media {
  display: flex;
  align-content: center;
  margin-left: 12rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

main .social-media a {
  text-decoration: none;
}

main .social-media img {
  width: 50px;
  margin-left: 2rem;
}

main .social-media a:first-child img {
  margin-left: 0;
}