* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display:flex;
}

header nav ul li {
  margin-right: 7.2em;
  box-sizing: border-box;
}

header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}


main {
  padding: 1;
  color: #fff;
}

h1{
  margin-top: 0;
}

.destaque {
  width: 15%; /* largura da div */
  margin: auto;
  display: flex;
  justify-content: center; /* alinha os elementos filhos no centro horizontalmente */
  align-items: center; /* alinha os elementos filhos no centro verticalmente */
  border: 1px solid rgb(255, 255, 255);
  font-size:larger;
  border-radius: 5px;
  height: 30px;
}

#banner{
display: flex;
align-items: center;
justify-content: center;
background: url("./imagens/h.png") no-repeat center;
background-size: cover;
width: 100vh;
height: 100vh;
}

main nav ul{
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 2;
  padding: 0;
  text-align: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em;
  box-sizing: border-box;  
}

main nav ul li a p {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:x-large;
  border-radius: 30px;
  height: 50px;
  background-color: rgb(238, 238, 45);
  color:black;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
}

.barra-vertical {
  width: 5px;
  height: 90px;
  background-color: rgb(255, 255, 255);
}

.minha-conta {
  display: flex;
  flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
}

.minha-conta p{
  margin-top: 10px; /* adiciona espaçamento entre a imagem e o texto */  
}

.meus-pedidos {
  display: flex;
  flex-direction: column; /* torna o container um elemento flexível, com orientação de coluna */
  align-items: center;
  margin-top: 15px;
  margin-left: 0px;
}
.meus-pedidos p{
  margin-top: 10px; /* adiciona espaçamento entre a imagem e o texto */  
}

input[type="search"]{
  background-color: #000000;
  border-color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  width: 300px;
  font-size:medium;
  height: 30px;
  color:#fff;
}
a:hover{
  color: yellow
}
section{
  display: flex;
  margin: 0px 0px 0px 15px;
  padding: 0px 0px 0px 15px;
}
.pesquisa{
  display: flex;
  margin: 30px;
  padding: 30px;
  gap: 1rem;
  list-style: none;
}
.pesquisa li{
  border: 2px solid white;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: large;
  list-style: none;
}

.pesquisa li a{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin: 25px;
}

.pesquisa li a:hover{
 color: yellow;
}

li a{
  font-family: Arial, sans-serif;
}

li {
  margin-right: 7.2em;
  box-sizing: border-box;
}
.ordenacao{
  border: 2px solid white;
  height: 35px;
  width: 250px;
  display: flex;
  margin: 57px;
  align-items: center;
  box-sizing: border-box;
  font-size: large;
  list-style: none;
  gap: 1rem;
  list-style: none;
  align-items: center;
  box-sizing: border-box;
  font-size: large;
  list-style: none;
}
label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  align-items: center;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 8px;
  
}

select{
  color: white;
  background-color: black;
  border: none;
  font-weight: 1000;
}

main{
  display: flex;
  margin: 0px 0px 15px 15px;
  padding: 0px 0px 15px 15px;
  gap: 5rem;
  flex-wrap: wrap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  text-decoration: none;
}

.BEER{
  padding: 20px;
  margin: 20px;
  text-decoration: none;
 }

 .BEER p{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
}

.BEER p:hover{
  color: yellow;
}

input[type="submit"]{
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 487px;
  height: 900x;
  left: 650px; 
  background-color: black;
  width: 300px;
  height: 30px;
  color: white;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
  text-align: center;
}

input[type="submit"]:hover{
  background-color: white;
  color: black;
}
a{
  text-decoration: none;
}